---
import BaseLayout from '../layouts/BaseLayout.astro';

import AntText from '../components/Playground/AntText.vue';
import AntText1 from '../components/Playground/AntText copy.vue';

---

<BaseLayout title="Win Sporting Prizes — Case Study" description="Win Sporting Prizes case study on gamified rewards and engagement.">
  <section class="ideas">
<AntText client:load />
<AntText1  client:load />


  </section>

</BaseLayout>

